/* custom font */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

/* tailwind dark mode config */
@custom-variant dark (&:where(.dark, .dark *));

/* Daisy Ui plugin */
@plugin "daisyui";

/* custom css */
body {
  background-color: #ffffff;
}

/* removing scrollbar */
html {
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* custom styles */
@theme {
  --font-logo: "Inter", "sans-serif";
  --font-description: "IBM Plex Sans", "sans-serif";
  --color-dark-bg: #08080a;
}